# ===============================
# Application Configuration Example. Use this to populate your own config
# ===============================

# client.go
API_HOST: "https://api.example.com"
ACCESS_TOKEN: "youraccesstoken"
USER_ID: "user-1234"
DATASET_ID: "aa-Dataset-abc"
DATASET_FOLDER: "DATASET_ABC"
SSL_CA_CERT: "/etc/ssl/certs/ca.crt"
SSL: true

# mail.go
EMAIL_ADDRESS: "myemail@example.com"
EMAIL_PASSWORD: "mypasswordemail"
UPLOADER_EMAIL: "jane@example.com"
UPLOADER_NAME: "Jane Doe"
SMTP_HOST: "smtp.example.com"
SMTP_PORT: 587
