# ===============================
# Kubernetes Job Manifest Example. Use this to populate your own config
# ===============================
apiVersion: batch/v1
kind: Job
metadata:
  name: aa-Dataset-abc
  labels:
    release: pipeline
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        release: pipeline
    spec:
      restartPolicy: Never
      containers:
        - name: submitter
          image: harbor.nbis.se/sda/submitter:latest
          imagePullPolicy: Always
          args: ["job"]
          env:
            - name: USER_ID
              value: johndoe@lifescience-ri.eu
            - name: UPLOADER_NAME
              value: John Doe
            - name: UPLOADER_EMAIL
              value: uploader@email.com
            - name: DATASET_ID
              value: aa-Dataset-abc
            - name: DATASET_FOLDER
              value: DATASET_ABC
            - name: EMAIL_ADDRESS
              value: youremail@yourmailservice.com
            - name: EMAIL_PASSWORD
              value: yourpassword
            - name: API_HOST
              value: https://api:8080
            - name: SMTP_HOST
              value: yourmailservice.com
            - name: SMTP_PORT
              value: "587"
            - name: ACCESS_TOKEN 
              value:
            - name: SSL
              value: "true"
            - name: SSL_CA_CERT
              value: "/.secrets/tls/ca.crt"
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 65534
            capabilities:
              drop: ["ALL"]
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: data-volume
              mountPath: /data
            - mountPath: /.secrets/tls/
              name: tls
      volumes:
        - name: data-volume
          emptyDir: {}
        - name: tls
          secret:
            secretName: svc-api-certs
