# ===============================
# Kubernetes Job Manifest Example. Use this to populate your own config
# ===============================
apiVersion: batch/v1
kind: Job
metadata:
  name: aa-Dataset-abc
  labels:
    release: pipeline
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        release: pipeline
    spec:
      restartPolicy: Never
      containers:
        - name: submitter
          image: harbor.nbis.se/sda/submitter:latest
          imagePullPolicy: Always
          args: ["job"]
          env:
            - name: USER_ID
              value: johndoe@lifescience-ri.eu
            - name: DATASET_ID
              value: aa-Dataset-abc
            - name: DATASET_FOLDER
              value: DATASET_ABC
            - name: CLIENT_API_HOST
              value: https://api:8080
            - name: CLIENT_ACCESS_TOKEN 
              value:
            - name: CLIENT_SSL
              value: "true"
            - name: CLIENT_CA_CERT
              value: "/.secrets/tls/ca.crt"
            - name: MAIL_UPLOADER_NAME
              value: John Doe
            - name: MAIL_UPLOADER:
              value: uploader@email.com
            - name: MAIL_ADDRESS:
              value: yourmail@yourmailservice.com
            - name: MAIL_PASSWORD
              value: yourpassword
            - name: MAIL_SMTP_HOST
              value: yourmailservice.com
            - name: MAIL_SMTP_PORT
              value: "587"
            - name: DB_HOST
              value: "localhost"
            - name: DB_PORT
              value: "15432"
            - name: DB_USER
              value: "api"
            - name: DB_PASSWORD
              value: "api"
            - name: DB_NAME
              value: "postgres"
            - name: DB_SCHEMA
              value: "sda"
            - name: DB_SSL_MODE
              value: "disable"
            - name: DB_CA_CERT
              value: ""
            - name: DB_CLIENT_CERT
              value: ""
            - name: DB_CLIENT_KEY
              value: ""
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 65534
            capabilities:
              drop: ["ALL"]
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: data-volume
              mountPath: /data
            - mountPath: /.secrets/tls/
              name: tls
      volumes:
        - name: data-volume
          emptyDir: {}
        - name: tls
          secret:
            secretName: svc-api-certs
